name: Create Release

on:
  push:
    branches:
      - main
  workflow_dispatch:


permissions:
  contents: write
  
jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Get version from file
        id: version
        run: |
          first_apk=$(ls *.apk 2>/dev/null | head -n 1)
          # Strip the .apk extension and export as global variable
          echo "VERSION=${first_apk%.apk}"
          echo "VERSION=${first_apk%.apk}" >> $GITHUB_ENV
          
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Releases
          path: ./*.apk
        
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "./*.apk"
          tag: v${{ env.VERSION }}
